@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
	font-family: "Quicksand", sans-serif;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	padding: 0;
	margin: 0;
	background-color: #bcbcbc;
}

header {
	text-align: center;
	padding: 1rem 2rem;
	font-size: x-large;
	background-color: #898989;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

header form {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	gap: 0.5rem;
}

header > div {
	display: flex;
	flex-flow: row wrap;
	gap: 1.5rem;
}

form input[type="text"] {
	font-size: x-large;
	display: inline-block;
	border: 4px solid black;
	border-right: 0;
	border-left: 0;
	outline: none;
	margin: 0;
	padding-left: 1rem;
}

form input[type="color"] {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: none;
	border: 2px solid black;
	border-left: 0;
	cursor: pointer;
	height: 2.4rem;
	width: 2.4rem;
	padding: 0;
	position: relative;
	bottom: -9px;
	display: inline-block;
	left: -8px;
}

form input[type="color"]:focus {
	border-radius: 0;
	outline: none;
	border: 2px solid black;
	border-left: 0;
}

::-webkit-color-swatch-wrapper { padding: 0; }
::-webkit-color-swatch { border: 2px solid black; border-left: 0; border-radius: 0; }
::-moz-color-swatch,
::-moz-focus-inner {
	border: 2px solid black;
	border-left: 0;
}
::-moz-focus-inner {
	border: 2px solid black;
	border-left: 0;
}

main {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: stretch;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.text-dark { color: #030303; }
.text-light { color: #fefefe; }

.hidden-submit {
  border: 0 none;
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.hidden { display: none; }

/* Add a new set of inputs for a new color */
.add-color-input {
	color: #D4D864;
	cursor: pointer;
	padding: 5px 2px 1px;
	line-height: 0.85;
	box-sizing: border-box;
	border-radius: 0.25rem;
	transition: all 0.3s ease-in-out;
}

.add-color-input:hover,
.add-color-input:focus {
	color: #5e8b41;
	background-color: #eee;
	transition: all 0.3s ease-in-out;
}

/* delete the inputs & associated palette color */
.delete-inputs {
	color: white;
	font-size: 1.45rem;
	display: inline-block;
	position: relative;
	cursor: pointer;
	padding: 0.2rem 0.75rem 0.2rem 0.6rem;
	margin: 0;
	border: 4px solid black;
	border-right: 0;
	right: -8px;
	bottom: 1px;
	z-index: 10;
	background-color: #EF6F6C;
	transition: background-color 0.3s ease-in-out;
}

.delete-inputs:hover,
.delete-inputs:focus {
	background-color: #A40606;
	transition: background-color 0.3s ease-in-out;
}

/* The "swatchbook" */
.swatchbook-toggle {
	color: white;
	cursor: pointer;
}

.swatchbook-container {
	display: none;
	background-color: white;
	padding: 1rem 2rem;
}

.swatchbook-container.active {
	display: block;
	position: absolute;
	right: 1rem;
	top: 95%;
}

.swatchbook-container.page {
	display: block;
	max-width: 100vw !important;
	padding: 0;
}

.swatchbook-container.active:before {
	content: "";
	position: absolute;
	right: 7%;
	top: initial;
	margin-top: initial;
	bottom: 100%;
	margin-top: -3px;
	border: 10px solid transparent;
	border-bottom-color: white;
}

#swatch-clusters {
	list-style-type: none;
	margin: 0 auto;
	display: grid;
	padding: 0.5rem;
	gap: 4px;
	grid-template-columns: repeat(9, 1fr);
	justify-content: center;
	text-align: center;
}

.cluster {
	border: 1px solid black;
	display: inline-block;
	margin: 0 auto;
	cursor: pointer;
}

#swatchbook-list {
	list-style-type: none;
	margin: 0;
	display: grid;
	padding: 0.5rem;
	gap: 4px;
}

#swatchbook-list li { margin: 0 auto; text-align: center; }

.swatchbook-container.page #swatchbook-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: start;
}

.cluster,
.swatch {
	position: relative;
	flex: 0;
}

.swatch:hover:before {
	content: attr(data-name);
	position: absolute;
	background-color: black;
	color: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: x-small;
	padding: 2px 4px;
}

.swatchbook-container.page .page-nav {
	margin: 0 auto;
	text-align: center;
	font-size: x-large;
	margin: 2rem 0;
}

.page-nav .nav {
	cursor: pointer;
	padding: 0.2rem 1rem;
	box-sizing: border-box;
	transition: background-color 0.3s ease-in-out;
}

.page-nav .nav:not(.inactive):hover,
.page-nav .nav:not(.inactive):focus {
	background-color: #ecceee;
	transition: background-color 0.3s ease-in-out;
}

.page-nav .nav:nth-child(2) { padding-right: 1rem; }
.page-nav .nav:nth-child(3) { padding-left: 1rem; }

.page-nav .nav.inactive {
	cursor: default;
	color: #999;
}

/* A "palette" is a group of shades (50 - 900) of a single color */
.palette {
	flex: 1 0 auto;
	text-align: center;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-rows: auto 1fr;
}

.colors {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: stretch;
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

.colors li {
	flex: 1;
	padding: 0.5rem 1.5rem;
	font-size: large;
}